<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928051380174-7oie06dgaokg48g5eks5v8h8mqg6s02u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928051380174-7oie06dgaokg48g5eks5v8h8mqg6s02u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>928051380174-r6rg1nndriplqqj96slice19n9eco9at.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDxFcDFaM1tQ8YFwxsPcxkLn8yoyb1M0Ek</string>
	<key>GCM_SENDER_ID</key>
	<string>928051380174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spaceshuttleparking.spaceShuttleDriver</string>
	<key>PROJECT_ID</key>
	<string>space-shuttle-b0738</string>
	<key>STORAGE_BUCKET</key>
	<string>space-shuttle-b0738.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928051380174:ios:b75c4ad30c4ecf0cf5759f</string>
	<key>DATABASE_URL</key>
	<string>https://space-shuttle-b0738-default-rtdb.firebaseio.com</string>
</dict>
</plist>